@inherits UmbracoTemplatePage
@{
    var siteDefaultName = "Wray Engineering Ltd ";
    var siteSetting = Umbraco.TypedContentAtRoot().FirstOrDefault(x => x.ContentType.Alias == "GlobalSettings");

    if (siteSetting != null && siteSetting.Id > 0 && siteSetting.Descendants("SiteDetails").Any())
    {
        var siteDetailsPage = siteSetting.Descendants("SiteDetails").FirstOrDefault();
        if (siteDetailsPage != null && siteDetailsPage.Id > 0)
        {
            if (siteDetailsPage.HasProperty("siteName") && siteDetailsPage.HasValue("siteName"))
            {
                siteDefaultName = siteDetailsPage.GetPropertyValue("siteName").ToString();
            }
        }
    }

    var homePage = Umbraco.TypedContentAtRoot().FirstOrDefault(x => x.ContentType.Alias == "HomePage");
    
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">@siteDefaultName</a>
            </div>
            
            @if (homePage != null && homePage.Id > 0)
            {
                var homeTitle = homePage.Name;
                if (homePage.HasProperty("linkTittle") && homePage.HasValue("linkTittle"))
                {
                    homeTitle = homePage.GetPropertyValue("linkTittle").ToString();
                }
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li @(homePage.Id == Model.Content.Id ? "class=active" : null)>
                            <a href="@homePage.Url" title="@homeTitle - @siteDefaultName">
                                @homeTitle
                            </a>
                        </li>

                        @if (homePage.Children.Any())
                            {
                            foreach (var landingPage in homePage.Children.Where(childPage => childPage.IsVisible() && !childPage.GetPropertyValue<bool>("hideFromMenu")))
                                {
                                var pageTitle = landingPage.Name;
                                if (landingPage.HasProperty("linkTittle") && landingPage.HasValue("linkTittle"))
                                    {
                                    pageTitle = landingPage.GetPropertyValue("linkTittle").ToString();
                                    }

                                <li @(landingPage.Id == Model.Content.Id ? "class=active" : Model.Content.AncestorOrSelf(2).Id == landingPage.Id ? "class=active" : null)>
                                    <a href="@landingPage.Url" title="@pageTitle - @siteDefaultName">
                                        @pageTitle
                                    </a>
                                </li>
                                }
                            }
                    </ul>
                </div>
            }
        </div>
    </nav>
}