@model local.wrayengineering.com.au.Models.ContactModel
@{
    if (TempData.ContainsKey("contactSuccess"))
    {
        var successMessage = (string) TempData["contactSuccess"];
        <div role="alert" class="alert alert-success alert-dismissible fade in">
            <button aria-label="Close" data-dismiss="alert" class="close" type="button">
                <span aria-hidden="true">&times;</span>
            </button>
            <p>@Html.Raw(successMessage)</p>
        </div>
    }
    else
    {
        using (Html.BeginUmbracoForm("ContactSubmit", "ContactSurface", FormMethod.Post, new {role = "form", id = "contactForm", name = "sentMessage"}))
        {
            if (TempData.ContainsKey("contactError"))
            {
                var errorMessage = (string) TempData["contactError"];
                <div role="alert" class="alert alert-danger alert-dismissible fade in">
                    <button aria-label="Close" data-dismiss="alert" class="close" type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <p>@Html.Raw(errorMessage)</p>
                </div>
            }

            @Html.AntiForgeryToken()
            <div class="row">
                <div class="form-group col-md-6">
                    @Html.TextBoxFor(model => model.FullName, new { @class = "form-control", required = "", placeholder = "Your Full Name" })
                    @Html.ValidationMessageFor(model => model.FullName, "", new { @class = "help-block text-danger" })
                </div>
                <div class="form-group col-md-6">
                    @Html.TextBoxFor(model => model.EmailAddress, new { @class = "form-control", required = "", placeholder = "Your Email Address" })
                    @Html.ValidationMessageFor(model => model.EmailAddress, "", new { @class = "help-block text-danger" })
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    @Html.TextAreaFor(model => model.Message, new { @class = "form-control", required = "", placeholder = "Your Contact Message", rows = "8" })
                    @Html.ValidationMessageFor(model => model.Message, "", new { @class = "help-block text-danger" })
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.TextBoxFor(model => model.PhoneNumber, new { @class = "form-control", required = "", placeholder = "Your Phone Number" })
                        @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "help-block text-danger" })
                    </div>
                    <div class="form-group">
                        <div class="g-recaptcha" data-sitekey="6LfplCETAAAAABkef3QHl7_MZKnIIsopWdcaLhxu"></div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-default">Submit</button>
                    </div>
                </div>
            </div>
        }
    }
}