<!DOCTYPE html>
<html lang="en">
<head>

    @Html.Partial("Master/HeaderContent")

    <link href="/Css/bootstrap.css" rel="stylesheet">
    <link href="/Css/styles.css" rel="stylesheet">

    @*@Styles.Render("~/bundles/sitecss")*@

    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,700' rel='stylesheet' type='text/css'>

    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src='https://www.google.com/recaptcha/api.js'></script>
</head>
<body>

    @Html.Partial("Master/MainHeader")

    @Html.Partial("Master/MainNavigation")

    <div class="container">

        @RenderBody()

        @Html.Partial("Master/Specialities")

    </div>

    @Html.Partial("Master/footer")

    @*<script src="/Scripts/jquery.js"></script>
        <script src="/Scripts/bootstrap.js"></script>*@

    @Scripts.Render("~/bundles/sitescripts")

    <script>
        $('.carousel')
            .carousel({
                interval: 5000 //changes the speed
            })
    </script>

</body>
</html>
